* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
body {
  max-width: 70ch;
  --bg-color: #f2f2f3;
  --font-color-dark: #1f292e;
  --grey: #c8cdd0;
  --dark-grey: #415058;
  --success: #a3db33;
  --error: #ed3221;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--font-color-dark);
}
main {
  margin: 0 auto;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/*SPECIFIC*/
.main-heading {
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}
.main-subheading {
  margin: 0;
}
.main-subheading::before {
  content: "#";
}

.btn {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.125rem 0.065rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.btn:hover {
  background-color: var(--success);
}

.color-preview-wrapper {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.color-code-p {
  font-weight: bold;
}
ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0.25rem 0 0.25rem 0;
  padding: 0.5rem;
}
